<?xml version="1.0" encoding="UTF-8"?>

<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>UDetective</display-name>
    <resource-ref>
        <description>UDetective database</description>
        <res-ref-name>jdbc/udetective</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <servlet>
        <description>Admin Servlet</description>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>ca.ubc.it.as.udetective.ui.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/WEB-INF/view/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>404</servlet-name>
        <jsp-file>/WEB-INF/view/404.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ca.ubc.it.as.udetective.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/404.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
