<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Test MMS CAS</display-name>
    <description>
     Plain web pages protected with CAS Filters
  </description>
    <!-- CAS Filters -->
    <!-- SAML11 Logout -->
    <resource-ref>
        <description>uDetective database</description>
        <res-ref-name>jdbc/udetective</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <listener>
        <listener-class>as.it.ubc.ca.udetective.listener.ServiceNowListener</listener-class>
    </listener>    
    
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
        <init-param>
            <param-name>artifactParameterName</param-name>
            <param-value>SAMLart</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>
    <!-- SAML11 Authentication Filter -->
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.Saml11AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://cas.stg.id.ubc.ca/ubc-cas/login</param-value>
        </init-param>
        <init-param>
            <param-name>service</param-name>
            <param-value>https://mms-test.as.it.ubc.ca/mms/cas.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Saml11TicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://cas.stg.id.ubc.ca/ubc-cas</param-value>
        </init-param>
        <init-param>
            <param-name>service</param-name>
            <param-value>https://mms-test.as.it.ubc.ca/mms/cas.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CAS Assertion Thread Local Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--
      Other filter mappings as needed.
      Ordering of filter mappings is vitally important to proper CAS function.
    -->
    <servlet>
        <description>Merchant Management System</description>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>as.it.ubc.ca.udetective.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>as.it.ubc.ca.udetective.ExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/Export</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/WEB-INF/view/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>404</servlet-name>
        <jsp-file>/WEB-INF/view/404.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewApplicationServlet</servlet-name>
        <servlet-class>as.it.ubc.ca.udetective.NewApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewApplicationServlet</servlet-name>
        <url-pattern>/NewApplication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>as.it.ubc.ca.udetective.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>as.it.ubc.ca.udetective.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/404.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
